:root {
  --red00: red;
  --red01: #ec3d22;
  --red02: #f15133;
  --red03: #f56644;
  --red04: #fa7a55;
  --red05: #ff8e66;
  --red06: #fde4db;
  --boxshadow: 0px 0px 10px rgba(184, 52, 12, 0.9);
}

/*INIT override css bootstrap*/
.btn {
  border-radius: 25px;
  background: transparent;
  border-color: var(--red05);
}

.btn:hover {
  background: var(--red01);
  border-color: var(--red00);
}

.form-control {
  border-radius: 25px;
}
/*END override css bootstrap*/

body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

label,
span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--red06) !important;
}

.publicLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: radial-gradient(var(--red05), var(--red03)) !important;
}

.card_local {
  background: linear-gradient(var(--red03), var(--red02));
  min-width: 450px;
  box-shadow: var(--boxshadow);
}

.btn-block {
  width: 100%;
}
