:root {
  --red00: red;
  --red01: #3d0509;
  --red02: #63080e;
  --red03: #56070c;
  --red04: #a30d17;
  --red05: #e31220;
  --red06: #fde4db;
  --boxshadow: 0px 0px 10px rgba(204, 65, 65, 0.9);
  --radialcolor: radial-gradient(#272727, #1a1919, #000);
  --linearColor: linear-gradient(var(--red02), var(--red03));
  --blackligth: #1b1b1b;
  --gray: #272727;
}

/*INIT override css bootstrap*/
.btn {
  border-radius: 7px;
  background: var(--red04);
  border-color: var(--red03);
  color: var(--red06);
}

.btn:hover {
  background: var(--red05);
  border-color: var(--red00);
  color: var(--red06);
}

.btn:focus {
  background: var(--red04);
  border-color: var(--red00);
}

.form-control {
  border-radius: 25px;
}

.list-group-item {
  background: transparent;
}

.dropdown-menu {
  background: var(--linearColor);
}

.dropdown-menu:hover a {
  background: transparent !important;
}

.btn-close {
  color: var(--red06) !important;
}

.nav-link {
  transition: 0.5s;
}

.nav-item:hover .nav-link {
  padding-left: 0.5em;
  letter-spacing: 0.2em;
  transform: scale(1);
}

.navbar-toggler {
  color: var(--red06);
  border-color: var(--red05);
}

.navbar-toggler span {
  color: var(--red06);
}

/*END override css bootstrap*/

.chat {
  border-color: transparent !important;
  cursor: pointer;
  margin-bottom: 0.1em;
}
.chat:hover {
  box-shadow: var(--boxshadow);
  transition: 0.6s;
}

.chat_msg {
  border-color: transparent !important;
  cursor: pointer;
  margin-bottom: 0.1em;
}

.request {
  border-color: transparent !important;
  margin-bottom: 0.1em;
  font-weight: 300;
}

.request:hover {
  box-shadow: var(--boxshadow);
}

.request:hover span {
  letter-spacing: 0.2em;
  font-weight: 500;
  transition: 0.5s;
}

.chatSelect {
  background: var(--linearColor);
  box-shadow: var(--boxshadow);
  border-radius: 5px;
  transition: 0.6s;
}

.nav_select {
  padding-right: 0.5em;
  padding-left: 0.5em;
  background: var(--linearColor);
  box-shadow: var(--boxshadow);
}

.msg {
  border-radius: 25px;
  box-shadow: var(--boxshadow);
  padding: 1rem;
  max-width: 40vw;
  display: flex;
  align-items: center;
  gap: 2px;
}

body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

label,
span,
p,
h1,
h2,
h3,
h4,
h5,
a,
h6 {
  color: var(--red06) !important;
}

.publicLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--radialcolor);
}

.privateLayout {
  background: var(--radialcolor);
  min-height: 100vh;
}

.card_local {
  background: var(--linearColor);
  min-width: 450px;
  box-shadow: var(--boxshadow);
}

.btn-block {
  width: 100%;
}

.card_welcome {
  position: relative;
  max-width: 450px;
  top: -7%;
  margin-right: 1em;
  padding-right: 1em;
  padding-left: 1em;
  /* border: solid 1px;
  border-color: #fff; */
}

.card_welcome h3 {
  color: var(--red04) !important;
  font-weight: bold;
}

.separator {
  display: block;
  border: solid 1px;
  border-color: #fff;
}

.bgtransparent {
  background: transparent;
}

.bgradial {
  background: var(--radialcolor);
}

.bglinear {
  background: var(--linearColor);
}

.bgblackligth {
  background: var(--blackligth);
}
.iconPerfil {
  border-radius: 50%;
  cursor: pointer;
}

.shadow {
  box-shadow: var(--boxshadow) !important;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.content_img_profile {
  position: relative;
  top: -10vh;
}

.opt_profile {
  background: var(--gray);
}

.border_radius {
  border-radius: 7px;
}

.color_grey {
  color: var(--gray);
  opacity: 0.5;
}

.box_work {
  border: solid 1px;
  border-color: #e31220;
}

.imagePost{
  border-radius: 10px;
  max-height: 50vh;
  object-fit: cover;
}

@media (max-width: 850px) {
  .publicLayout {
    flex-direction: column;
    padding: 1rem;
  }
  .card_local {
    background: linear-gradient(var(--red02), var(--red03));
    min-width: 380px;
    box-shadow: var(--boxshadow);
  }
  .card_welcome {
    display: none;
    top: 0px;
    min-width: 400px;
  }
  #btn_social_network {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .opt_profile {
    display: none;
  }
}
