:root {
  --red00: red;
  --red01: #3d0509;
  --red02: #63080e;
  --red03: #56070c;
  --red04: #a30d17;
  --red05: #e31220;
  --red06: #fde4db;
  --boxshadow: 0px 0px 10px rgba(204, 65, 65, 0.9);
  --radialcolor: radial-gradient(#272727, #1a1919, #000);
  --linearColor: linear-gradient(var(--red02), var(--red03));
}

/*INIT override css bootstrap*/
.btn {
  border-radius: 25px;
  background: transparent;
  border-color: var(--red05);
  color: var(--red06);
}

.btn:hover {
  background: var(--red04);
  border-color: var(--red00);
  color: var(--red06);
}

.btn:focus {
  background: var(--red04);
  border-color: var(--red00);
}

.form-control {
  border-radius: 25px;
}
/*END override css bootstrap*/

body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

label,
span,
p,
h1,
h2,
h3,
h4,
h5,
a,
h6 {
  color: var(--red06) !important;
}

.publicLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--radialcolor);
}

.privateLayout {
  background: var(--radialcolor);
  min-height: 100vh;
}

.card_local {
  background: var(--linearColor);
  min-width: 450px;
  box-shadow: var(--boxshadow);
}

.btn-block {
  width: 100%;
}

.card_welcome {
  position: relative;
  max-width: 450px;
  top: -7%;
  margin-right: 1em;
  padding-right: 1em;
  padding-left: 1em;
  /* border: solid 1px;
  border-color: #fff; */
}

.card_welcome h3 {
  color: var(--red04) !important;
  font-weight: bold;
}

.separator {
  display: block;
  border: solid 1px;
  border-color: #fff;
}


.bgradial{
  background: var(--linearColor);
}

@media (max-width: 850px) {
  .publicLayout {
    flex-direction: column;
    padding: 1rem;
  }
  .card_local {
    background: linear-gradient(var(--red02), var(--red03));
    min-width: 380px;
    box-shadow: var(--boxshadow);
  }
  .card_welcome {
    display: none;
    top: 0px;
    min-width: 400px;
  }
  #btn_social_network {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
